<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a routerLink="/sales" class="navbar-header">
      <img class="brand" style="max-width: 40px" src="https://image.noelshack.com/fichiers/2019/48/3/1574872466-logo.png" alt="logo">
    </a>
    <ul class="nav navbar-left">
      <li routerLinkActive="active">
        <a routerLink="sales">Bourses</a>
      </li>
    </ul>

    <ul class="nav navbar-right">
      <li routerLinkActive="active" *ngIf="!currentUser"> <!-- si l'utilisateur n'est pas authentifié-->
        <a routerLink="auth/signup">Créer un compte</a>
      </li>
    </ul>
    <ul class="nav navbar-right">
      <li routerLinkActive="active" *ngIf="!currentUser"> <!-- si l'utilisateur n'est pas authentifié-->
        <a routerLink="auth/signin">Connexion</a>
      </li>
      <li>
        <a (click)="onSignOut()"
           style="cursor:pointer"
           *ngIf="currentUser">Déconnexion</a> <!-- si l'utilisateur est authentifié il peut cliquer sur deconnexion-->
      </li>
    </ul>
  </div>
</nav>
