.brand {
  margin: 5px;
}

.navBarUserName {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
  color: black;
}

.navFunction {
  margin-top: 10px;
}

#logoutButton {
  color: #A58EB7;
  margin-right: 5px;
}

#nameOnNav {
  margin-right: 15px;
  font-family: georgia, "trebuchet ms", arial, serif;
}
