#articleTypeBourse {
    color: blue;
    font-style: italic;
}

#frontTitle {
    text-align: center;
}

#articleCategory {
    color: #A58EB7
}

.list-group {
    font-family: georgia, "trebuchet ms", arial, serif;
  }

#responsibleFonction {
    font-family: georgia, "trebuchet ms", arial, serif;
    text-align: center;
}

#addSaleButton {
    margin-left: 15px;
}