.error {
  color: red;
}

.raw {
    font-family: georgia, "trebuchet ms", arial, serif;
  }

#frontTitle {
  text-align: center;
  margin-bottom: 30px;
}

#dateBeginText {
  margin-right: 5px;
}

#dateEndText {
  margin-right: 5px;
}
