<div class="row">
  <div class="col-xs-12">
    <div id="refundResult">
        <h4>Resumé du remboursement des {{articleTotalNbr}} articles:</h4>
        <p>{{articleSoldNbr}} article(s) vendu(s).<br>
         {{articleStolenNbr}} article(s) volé(s).
        </p>
    
        <p id="sommeToRefund" >Somme à rembourser au client (10% badj enlevé): 
          <span *ngIf="!allArticleOk" id="sommeToRefundNbr">{{refoundTotal | currency :'EUR'}}</span></p>
          <span *ngIf="allArticleOk" id="hiddenRefund">veuillez rendre les articles pour voir la somme à rembourser.</span>
    </div>

    <br>
    <br>
    <br>
    <div class="list-group">
      <h5 id="frontTitle">Articles de {{userEmailConcerned}}</h5>
      <button class="list-group-item" *ngFor="let article of articlesList; let i = index">
        <h4 id="articleTypeBourse">Bourse: {{article.sale.description}}
          du
          {{article.sale.dateBegin | date: 'shortDate' }}</h4>

        <h5>
          <span id="articleCategory">Identifiant étiquette pour la vente: </span>{{article.saleNumber}}
        </h5>
        <h5>
          <span id="articleCategory">Categorie: </span>{{article.category}}
        </h5>
        <h5>
          <span id="articleCategory">Article: </span>{{article.type}}
        </h5>


        <h5 *ngIf="article.clothe">
          <span id="articleCategory">Taille: </span>{{article.clothe.size}}
        </h5>
        <h5 *ngIf="article.clothe">
          <span id="articleCategory">Genre: </span> {{article.clothe.gender}}
        </h5>
        <h5 *ngIf="article.clothe">
          <span id="articleCategory">Matière:</span> {{article.clothe.material}}
        </h5>
        <h5 *ngIf="article.clothe">
          <span id="articleCategory">Couleur:</span> {{article.clothe.color}}
        </h5>
        <h5 *ngIf="article.clothe">
          <span id="articleCategory">Commentaire:</span> {{article.clothe.comment}}
        </h5>

        <h5 *ngIf="article.book">
          <span id="articleCategory">Titre:</span> {{article.book.name}}
        </h5>
        <h5 *ngIf="article.book">
          <span id="articleCategory">Autheur:</span> {{article.book.author}}
        </h5>
        <h5 *ngIf="article.book">
          <span id="articleCategory">Commentaire:</span> {{article.book.comment}}
        </h5>

        <h5 *ngIf="article.object ">
          <span id="articleCategory">Marque:</span> {{article.object.brand}}
        </h5>
        <h5 *ngIf="article.object ">
          <span id="articleCategory">Couleur:</span> {{article.object.color}}
        </h5>
        <h5 *ngIf="article.object ">
          <span id="articleCategory">Commentaire:</span> {{article.object.comment}}
        </h5>

        <h5 *ngIf="article.toy">
          <span id="articleCategory">Marque: </span>{{article.toy.brand}}
        </h5>
        <h5 *ngIf="article.toy">
          <span id="articleCategory">Couleur:</span> {{article.toy.color}}
        </h5>
        <h5 *ngIf="article.toy">
          <span id="articleCategory">Commentaire:</span> {{article.toy.comment}}
        </h5>

        <h5>
          <span id="articleCategory">Prix: </span>{{article.price | currency :'EUR'}}
        </h5>

        <h4>
          <a *ngIf="article.sold && !article.stolen && !article.returnOwner" class="label label-success"
            aria-disabled="true">
            <span class="glyphicon glyphicon-thumbs-up"></span> Vendu
          </a>
        </h4>

        <h4>
          <a *ngIf="!article.sold && article.stolen && !article.returnOwner" class="label label-default"
            aria-disabled="true">
            <span class="glyphicon glyphicon-thumbs-down"></span> volé
          </a>
        </h4>

        <h4>
          <a *ngIf="!article.sold && !article.stolen && article.returnOwner" class="label label-success"
            aria-disabled="true">
            <span class="glyphicon glyphicon-thumbs-up"></span> retourné au propriétaire
          </a>
        </h4>

        <a id="buttonDeclareStolen" *ngIf="!article.sold && !article.stolen && !article.returnOwner"
          (click)="onDeclareStolen(article.id)" class="btn btn-danger ">
          <span></span> Article volé
        </a>

        <a id="buttonDeclareReturnOwner" *ngIf="!article.sold && !article.stolen && !article.returnOwner"
          (click)="onDeclareReturnOwner(article.id)" class="btn btn-info ">
          <span></span> Article rendu au propriétaire
        </a>

      </button>
    </div>
  </div>
</div>
